<address>
  <strong>Корпорация BarberShop</strong><br>
  <br>
 <br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

<address>
  <strong>e-mail владельца:</strong><br>
  <a href="mailto:#">Vlastelin_zemli@earth.com</a>
</address>


<p>Есть предложения, замечания? Напишите нам! И мы обязательно учтем это в своей работе.</p> 
<p></p>


<form action="/contacts" method="POST" role="form">
	<p>Как Вас зовут?</p>
	<input type="text" name="contact[name]" class="form-control" placeholder="Укажите Ваше имя" autofocus><br />
	<p>Укажите телефон для связи:</p>
	<input type="text" name="contact[phone]" class="form-control" placeholder="Номер телефона"><br />
	<p>Ваше обращение:</p>
	<textarea class="form-control" type='text' name="contact[message]"rows="2" placeholder="Текст Вашего обращения"></textarea>
	<button class="btn btn-default" type="submit">Отправить</button>
</form>